$listing-border: 1px solid darken($vcsgrey, 10);

// General Page Layout Breaoipoints
.sidebar.partner-directory {
  @include span(full);
  @include susy-breakpoint($bp-mobile) {
    @include span(4 of 12 alpha nest);
  }
  @include susy-breakpoint($bp-screen) {
    @include span(3 of 12 alpha);
  }
}
#primary.partner-directory-page {
  @include span(full nest last);
  @include susy-breakpoint($bp-mobile) {
    @include span(8 of 12 nest omega);
  }
  @include susy-breakpoint($bp-screen) {
    @include span(9 of 12 nest omega);
  }
}
#sidebar-vcspd {
  margin-top: 1.5em; //keeping the sidebare aligned with content
  .wpbdp-categories {
    list-style-type: none;
    // margin: 0;
    // padding: 0;
  }

  // ul.wpbdp-categories > li.cat-item {
  .button {
    @include span(full border-box);
    @include susy-breakpoint($bp-screen){
      @include span(1 of 1 inside narrow);
    }
    @include button($color__background-button, 4px);

    // other
    border: 1px solid darken($color__background-button, 10);
    @include rhythm(0.2, 0.2);
    text-align: center;
  }
}
#wpbdp-view-listings-page {
  @include squish(0.6 of 12);
    // Partner Listing Page
  .wpbdp-listing-excerpt {
    background-color: $color__background-screen;
  }
  .wpbdp-listing-excerpt.odd {
    background-color: $color__page;
  }
  .wpbdp-listing {
    @include span(full nest clearfix);
    position: relative;
  }
  .pd-column, .field-value {
    @include gallery(1 of (2 3 4) inside);
  }
  .wpbdp-page-content {
    .listings {
      // border: $listing-border;
    }
    header {
      @include span(full nest clearfix);
    }
    .wpbdp-listing.excerpt {
      // border-top: $listing-border;
    }
    .field-value {
      border-right: $listing-border;
      &:last-child{
        border-right: none;
      }
    }
  }

  .listing-details {
    @include span(full nested);
  }
  .listing-actions {
    @include span(0.3 of 12 alpha nested);
    position: absolute;
    // left: span(0.3 of 12)*-1; 
    >a {
      @include gallery(1 of 3);
      max-height: rhythm(1);
      overflow: hidden;
      @include adjust-font-size-to(3px, 0.3);
      &.view-listing { @include testing(green) }
      &.edit-listing { @include testing(orange);}
      &.delete-listing { @include testing(red);}
    }
  }
  .wpbdp-pagination {
    @include full(nested);
    @include margin-trailer(2);
    span {
      @include span(1 of 2 narrow);
      &.next {@include last; &:before {content: ' | '}}
      &.prev {text-align: right;}
    }
  }
} // end of Listing view
