// General Page Layout Breaoipoints
.sidebar.partner-directory {
  @include span(full);
  @include susy-breakpoint($bp-screen) {
    @include span(3 of 12 1/8 alpha);
  }
}
#primary.partner-directory-page {
  @include span(full nest last);
  @include susy-breakpoint($bp-screen) {
    @include span(9 of 12 1/8 nest omega);
  }
}
#sidebar-vcspd {
  margin-top: 1.5em; //keeping the sidebare aligned with content
  .wpbdp-categories {
    list-style-type: none;
  }

  .vcs-submit-link {
    @include button($color__background-button, 4px);
    @include full;
    @include button-style;

  }
  .button {
    @include span(full border-box inside);
    @include susy-breakpoint(max-width $bp-screen) {
      @include gallery(1 of 2 border-box);
    }
    @include button($color__background-button, 4px);
    @include button-style;
  }
	.widget_vcs_taxonomy {
    @include widgetify;
    @include pad(0);
    @include rhythm-margins(0.5);
    input {
      margin: 0;
      border-left: 0px;
      border-right: 0px;
      border-top: 0px;
      border-radius: 0px;
      padding: 0;
      &:last-child { border-bottom: 0px;}
      @include adjust-font-size-to(14px);
      @include rhythm-padding(0.3);
      @include span(full border-box inside);
      @include susy-breakpoint(max-width $bp-screen) {
        @include span(full clearfix);
        &:nth-child(2n+2) { // gallery from .button fix
          margin: 0;
          clear: both;
        }
      }
    }
    .widget-title {
      @extend h5;
      background-color: $vcsblue;
      color: $color__text-alt;
      @include pad(0.5rem)
    }
  }
}
/*
 * listing pages
 */
.wpbdp-listing-single {
  .wpbdp-field-association-title {
    @extend h3;
    border: 0;
    background: none;
  }
  .wpbdp-field-what_are_you_looking_for, .wpbdp-field-content {
    @include widgetify;
    @include full;
    @include pad(0);
    @include margin-trailer(1);
    >span {
      @include pad(0.5rem);
      display: block;
    }
    >label {
      display: block;
      background: $vcsblue;
      color: $color__text-alt;
      @include pad(0.5rem);
      // @include rhythm-padding(0.3);
      @extend h5;
      // font-weight: bold;
    }
  }

  .listing-actions {
    @include span(3 of 4 last);
    top: rhythm(1.25);
    input {
      text-align: center;
      @include button($color__background-button, 4px);
      border: $vcs-button;
      @include squish(0.3rem);
      @include margin-leader(0.3);
      // border-bottom: 0;
      // &:last-child {border-bottom: $vcs-button;}
      @include span(full border-box);
    }
    // listing page breakpoints
    @include susy-breakpoint($bp-screen) {
        @include span(3 of 12 last);
      }
    }
    .stickytag {
      @include span(3 of 12 last);
      text-align: center;
    }
    .listing-thumbnail {
    @include span(3 of 12 first);
      @include susy-breakpoint($bp-screen) {
        @include span(3 of 12 first);
        text-align: left;
      }
    }
    &.sticky {
      .listing-thumbnail {
        // @include full;
        @include padding-leader(1);
        text-align: center;
      }
    }
  }
// mobile menu stuff
.wpbdp-hide-on-mobile {
  display: none;
}
@include susy-breakpoint($bp-screen) {
  .wpbdp-hide-on-mobile {
    display: inline;
  }
  .wpbdp-show-on-mobile {
    display: none;
  }

}

//excerpt listing markup
.excerpt {
  background-color: $color__background-screen;
  // padding: 0;
  @include span(full);
  @include padding-leader(1.2);
  position: relative;
  min-height: 135px; // to keep the VED buttons from dissapearing
  &.odd {
    background-color: $color__page;
  }
  .listing-thumbnail {
    @include span(150px alpha);
    @include pad(0 0.8rem);
  }
  .listing-details {
    @include squish(1rem, 150px);
  }
  .wpbdp-listing {
    @include padding-leader(1);
    @include span(full nest wider border-box);
    position: relative;
  }
  .field-value {
    >label {
      @extend h5;
      font-weight: bold;
    }
    &.wpbdp-field-association-title {
      // @include full;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      .value {
        >a {
          @include pad(5px);
          display: block;
          color: $color__text-alt;
          background-color: $vcsblue;
        }
      }
    }
  }
  .listing-actions {
    // @include span(150px last nested);
    position: absolute;
    // bottom: 0;
    top: rhythm(1.25);
    box-sizing: border-box;
    right: 0;
    width: 150px;
    >a {
      text-align: center;
      @include button($color__background-button, 4px);
      border: $vcs-button;
      @include squish(0.3rem);
      @include margin-leader(0.3);
      // border-bottom: 0;
      // &:last-child {border-bottom: $vcs-button;}
      @include span(1 of 1);
    }
  }
  .wpbdp-claim-listings {
    // open window
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    .claim-listing-link, span { color: $color__text-alt; }
    // * { color: $color__text-screen; }
  }
	.open {
		z-index: 99;
		bottom: auto;
    top: 0;
    background-color: white;
		padding: 10px;
		border-radius: 4px;
    box-shadow: 0 0 3rem rgba($vcsblue, 0.9);
    .claim-listing-link, span { color: $color__text-screen; }
  }
} // end of listing excerpt markup

.wpbdp-pagination {
  @include full(nested);
  @include margin-trailer(2);
  span {
    @include span(1 of 2 narrow);
    &.next {@include last; &:before {content: ' | '}}
    &.prev {text-align: right;}
  }
}

header.listing-excerpt {
  @include span(full nest clearfix);
}
.stickytag {
  @include span(100px);
}

/*
 * edit listing page
 */
#wpbdp-submit-page {
  .wpbdp-form-field {
    @include full(nested);
    @include margin-trailer(1);
    @include padding-trailer(1);
    border-bottom: $vcs-button;
  }
  .wpbdp-form-field-type-checkbox .children>li {
    @include flatten-checkbox();
  }
  .wpbdp-form-field-inner {
    .wordcounter {
      display: none;
    }
    .over {
      background-color: red !important;
      padding: 4px;
      color: $color__text-alt;
    }
  }
  textarea {
    height: 250px;
  }
  label { 
    padding-right: 1rem;
    // font-weight: bold;
  }
  .wpbdp-form-field-type-textfield {
    .wpbdp-form-field-label { @include vcspd-textinput-style-label(); }
    .wpbdp-form-field-inner {@include vcspd-textinput-style-input(); }
  }
}
.wpbdp-listing-form {
  // Submit page
  vertical-align: bottom;
  .wpbdp-form-field-type-url {

    .wpbdp-form-field-html>* {
      @include gallery(1 of (1 3) border-box);
    }
  }
  .wpbdp-form-field-label {
    @include padding-trailer(1);
    >label { 
      @extend h4;
      display: block;
    }
    >span { 
      @extend h6;
      font-weight: normal;
      display: block;
    }
  }
	.category { @include widget-header(); }
  .wpbdp-form-field-html>li { @include form-field-html; }

  @include vcspd-list-style();
}

#wpbdp-search-form-wrapper {
	.wpbdp-form-field-label-employees .label, .category {
    @include widget-header(); }
  @include vcspd-list-style();
  .wpbdp-form-field-type-checkbox>.wpbdp-search-field-label {
    @include widget-header(); }
  .wpbdp-search-filter {
    &.textfield, &.textarea, &.url {
      // text fields
      .wpbdp-search-field-label {
        @include vcspd-textinput-style-label(3 of 9 first nested); 
        @include rhythm(0.2, 0.2);
      }
      .field.inner { @include vcspd-textinput-style-input(6 of 9 last); }
      @include rhythm(0.2, 0.2);
    } 
    &.wpbdp-form-field-type-checkbox.wpbdp-form-field-association-meta,
    &.wpbdp-form-field-label-categories .field.inner>li {
        @include form-field-html;
        .wpbdmcheckboxclass, .children>li {@include flatten-checkbox();}
        @include padding-trailer(1);
        ;
      }
    clear: both;
  }
  input[type="submit"], input[type="reset"] {
    @include rhythm-margins(1);
  }
}
