// General Page Layout Breaoipoints
.sidebar.partner-directory {
  @include span(full);
  @include susy-breakpoint($bp-screen) {
    @include span(3 of 12 1/8 alpha);
  }
}
#primary.partner-directory-page {
  @include span(full nest last);
  @include susy-breakpoint($bp-screen) {
    @include span(9 of 12 1/8 nest omega);
  }
}
#sidebar-vcspd {
  margin-top: 1.5em; //keeping the sidebare aligned with content
  .wpbdp-categories {
    list-style-type: none;
  }

  .vcs-submit-link {
    @include button($color__background-button, 4px);
    @include full;
    @include button-style;

  }
  .button {
    @include span(full border-box inside);
    @include susy-breakpoint(max-width $bp-screen) {
      @include gallery(1 of 2 border-box);
    }
    @include button($color__background-button, 4px);
    @include button-style;
  }
}
/*
 * listing pages
 */
.wpbdp-listing-single {
  // background: $color__background-widget;
  .listing-thumbnail {
  
  }
  .listing-title {
    
  }
}
.wpbdp-listing-single {
  .field-value {
    @include full;
    @include pad(1rem);
  }
  .listing-actions {
    @include span(3 of 4 last);
    top: rhythm(1.25);
    input {
      text-align: center;
      @include button($color__background-button, 4px);
      border: $vcs-button;
      @include squish(0.3rem);
      @include margin-leader(0.3);
      // border-bottom: 0;
      // &:last-child {border-bottom: $vcs-button;}
      @include span(full border-box);
    }
    // listing page breakpoints
    @include susy-breakpoint($bp-screen) {
        @include span(3 of 12 last);
      }
    }
    .stickytag {
      @include span(3 of 12 last);
      text-align: center;
    }
    .listing-thumbnail {
    @include span(3 of 12 first);
      @include susy-breakpoint($bp-screen) {
        @include span(3 of 12 first);
        text-align: left;
      }
    }
    &.sticky {
      .listing-thumbnail {
        // @include full;
        @include padding-leader(1);
        text-align: center;
      }
    }
  }
// mobile menu stuff
.wpbdp-hide-on-mobile {
  display: none;
}
@include susy-breakpoint($bp-screen) {
  .wpbdp-hide-on-mobile {
    display: inline;
  }
  .wpbdp-show-on-mobile {
    display: none;
  }

}

//excerpt listing markup
.excerpt {
  background-color: $color__background-screen;
  // padding: 0;
  @include span(full);
  @include padding-leader(1.2);
  position: relative;
  &.odd {
    background-color: $color__page;
  }
  .listing-thumbnail {
    @include span(150px alpha);
    @include pad(0 0.8rem);
  }
  .listing-details {
    @include squish(150px);
  }
  .wpbdp-listing {
    @include padding-leader(1);
    @include span(full nest wider border-box);
    position: relative;
  }
  .field-value {
    &.wpbdp-field-association-title {
      // @include full;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      .value {
        >a {
          @include pad(5px);
          display: block;
          color: $color__text-alt;
          background-color: $vcsblue;
        }
      }
    }
  }
  .listing-actions {
    // @include span(150px last nested);
    position: absolute;
    // bottom: 0;
    top: rhythm(1.25);
    box-sizing: border-box;
    right: 0;
    width: 150px;
    >a {
      text-align: center;
      @include button($color__background-button, 4px);
      border: $vcs-button;
      @include squish(0.3rem);
      @include margin-leader(0.3);
      // border-bottom: 0;
      // &:last-child {border-bottom: $vcs-button;}
      @include span(1 of 1);
    }
  }
  .wpbdp-claim-listings {
    // open window
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    .claim-listing-link, span { color: $color__text-alt; }
    // * { color: $color__text-screen; }
  }
	.open {
		z-index: 99;
		bottom: auto;
    top: 0;
    background-color: white;
		padding: 10px;
		border-radius: 4px;
    box-shadow: 0 0 3rem rgba($vcsblue, 0.9);
    .claim-listing-link, span { color: $color__text-screen; }
  }
} // end of listing excerpt markup

.wpbdp-pagination {
  @include full(nested);
  @include margin-trailer(2);
  span {
    @include span(1 of 2 narrow);
    &.next {@include last; &:before {content: ' | '}}
    &.prev {text-align: right;}
  }
}

header.listing-excerpt {
  @include span(full nest clearfix);
}
.stickytag {
  @include span(100px);
}
