.gallery {
	margin-bottom: 1.5em;
  @include span(full nest);
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// .gallery-columns-2 & {
	// 	max-width: 50%;
	// }
	$class-slug: gallery-columns !default;

	@for $i from 2 through 9 {
		@include full;
		@include susy-breakpoint($bp-screen){
			.#{$class-slug}-#{$i} & {
				@include gallery(1 of $i);
			}
		}
	}
}
.gallery-caption {
	display: block;
}
